/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*===== IMPORT FONTS =====*/
@font-face {
  font-family: 'attila_sans_classic_trial';
  src: url('attilasansclassictrial-bold-webfont.woff2') format('woff2'),
    url('attilasansclassictrial-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'attila_sans_classic_trial';
  src: url('attilasansclassictrial-semibold-webfont.woff2') format('woff2'),
    url('attilasansclassictrial-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: bold;

}

@font-face {
  font-family: 'attila_sans_classic_trial';
  src: url('attilasansclassictrial-regular-webfont.woff2') format('woff2'),
    url('attilasansclassictrial-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'attila_sans_classic_trial';
  src: url('attilasansclassictrial-light-webfont.woff2') format('woff2'),
    url('attilasansclassictrial-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  /*========== Font and typography ==========*/
  --body-font: 'attila_sans_classic_trial', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: 0.75rem;
  --h5-font-size: 0.6rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-light: 200;
  --font-medium: 400;
  --font-semi-bold: 500;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #F2F2F2;
  --text-color: #FFFFFF;
  --text-color-lighter: #FFFFFF;
  --container-color: #000401;
  --container-color-alt: #181616;
  --body-color: #2B2B2B;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* background-color: var(--body-color); */
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*========== Header ==========*/
.header {
  /* background-color: red; */
  position: sticky;
  left: 0;
  right: 0;
}

.header .logo {
  margin-top: var(--mb-5);
  margin-left: var(--mb-4);
}

/*========== Nav Bar ==========*/

.navbar {
  width: 200px;
  position: absolute;
  left: 0;
  top: 20%;
  height: 80%;
  text-align: left;
  overflow: hidden;
}

.navbar,
.navbar ul {
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  margin-left: var(--mb-4);
  font-weight: var(--font-bold);
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar a span {
  margin-left: var(--mb-4);
}

.navbar ul .active-link {
  font-size: 25px;
}

.navbar ul a:hover {
  font-size: 25px;
}

.navbar ul .active-link .nav__line {
  -webkit-animation: grow__line 1s forwards;
          animation: grow__line 1s forwards;
}

.navbar ul a:hover .nav__line {
  -webkit-animation: grow__line 1s forwards;
          animation: grow__line 1s forwards;
}


.navbar ul {
  list-style: none;
  margin-top: 8vh;
}

.navbar ul li {
  margin-bottom: 8vh;
}

.nav__line {
  height: 2px;
  width: 0px;
  display: block;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 7px;
  cursor: pointer;
}

@-webkit-keyframes grow__line {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

@keyframes grow__line {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

/*========== Main Content ==========*/
.main__content .section .content__left {
  overflow-y: hidden;
}

.main__content .section .content__right {
  overflow-y: hidden;
}

.main__content {
  /* background-color: red; */
  width: calc(100% - 200px);
  position: absolute;
  left: 200px;
  top: 10%;
  height: 90%;
  text-align: left;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
}

.main__content section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr .5fr;
  grid-template-columns: 2fr .5fr;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  scroll-snap-align: start;
}

.main__content section.double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
  grid-template-columns: 2fr 2fr;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  scroll-snap-align: start;
}


.main__content section.program {
  display: block;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.main__content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main__content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/*========== Section Content ==========*/
.section {
  margin-top: 10vh;
  height: 100vh;
  padding: 1.5rem 1.5rem;
}

.content__right {
  text-align: right;
}

.content__description {
  margin-top: 50%;
}

.content__description.mobile {
  display: none;
}

.content__description .content__leading {
  font-weight: var(--font-bold);
  font-size: var(--h1-font-size);
  color: var(--text-color);
}

.content__about .content__title {
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

.content__about .content__info {
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  padding-right: var(--mb-1);
  border-right: 2px solid var(--text-color);
}

.content__description .content__subtitle {
  padding-top: 0.1rem;
  font-weight: var(--font-light);
  font-size: var(--h1-font-size);
  color: var(--text-color-light);
}

.contact__form {
  margin-top: 20%;
  text-align: center;
}

.contact__form .contact__leading {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.contact__form .contact__desc {
  font-weight: var(--font-light);
  margin-top: 5%;
}

.contact__form .contact__leading {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.contact__detail {
  margin-top: 5%;
}

.contact__detail .contact__detail__leading {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.contact__detail .contact__detail__desc {
  margin-top: 0.2rem;
  font-size: var(--h4-font-size);
  font-weight: var(--font-light);
}

.contact__signup {
  text-align: center;
  height: 380px;
  margin: 20% 2rem 2rem 2rem;
  padding: 2rem;
  background-image: url('/assets/img/mesh-gradient.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 40px var(--container-color);
          box-shadow: 0px 5px 40px var(--container-color);
}

.contact__signup .contact__signup__leading {
  position: relative;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

/*========== SOCIAL ==========*/

.social__container {
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social__link:hover {
  color: var(--title-color);
}

.social__icon {
  font-size: 1.2rem;
  margin-right: .25rem;
}

/*========== IMAGE RELATED ==========*/
body {
  background-image: url('/assets/img/mesh-gradient.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img.model {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 4rem;
  display: block;
  height: 100vh;
  width: auto;
}

img.logo {
  height: 20px;
}

.model__portrait {
  position: relative;
  text-align: center;
}

.model__portrait .portrait__title {
  font-weight: var(--font-bold);
  overflow: hidden;
  white-space: nowrap;
  font-size: 6vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.model__portrait .portrait__desc {
  font-weight: var(--font-bold);
  overflow: hidden;
  white-space: nowrap;
  font-size: 3vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.model__portrait .portrait__top {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color-lighter);
  color: transparent;
  z-index: 100;
}

.model__portrait .portrait__mid {
  z-index: 0;
}

.model__portrait .portrait__bottom {
  z-index: -100;
}

/*========== MEDIA QUERIES MOBILE ~ TABLET VERSION ==========*/

@media screen and (max-width: 968px) {

  /* DISABLED SIDE NAVBAR */
  .navbar {
    display: none;
  }

  /* FULL SCREEN MAIN CONTENT */
  .main__content {
    /* background-color: red; */
    width: 100%;
    position: absolute;
    left: 0;
    top: 10%;
    height: 90%;
    /* text-align: left; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: mandatory;
  }

  img.model {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 0;
    display: block;
    height: 80vh;
    width: auto;
  }

  .model__portrait .portrait__title {
    font-size: 11vw;
  }

  .model__portrait .portrait__desc {
    font-size: 6vw;
  }

  .main__content section {
    display: block;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main__content section.double {
    display: block;
  }

  /* START: CONTACT FORM MOBILE MODE */
  .contact__form {
    margin-top: 0;
    text-align: center;
  }

  .contact__form .contact__leading {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
  }

  .contact__form .contact__desc {
    font-weight: var(--font-light);
    font-size: var(--h4-font-size);
    margin-top: 1%;
  }

  .contact__form .contact__leading {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
  }

  .contact__detail {
    margin-top: 2%;
  }

  .contact__detail .contact__detail__leading {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
  }

  .contact__detail .contact__detail__desc {
    margin-top: 0.2rem;
    font-size: var(--h4-font-size);
    font-weight: var(--font-light);
  }

  .contact__signup {
    text-align: center;
    height: 380px;
    margin: 2rem auto auto auto;
    padding: 2rem;
    background-image: url('/assets/img/mesh-gradient.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 40px var(--container-color);
            box-shadow: 0px 5px 40px var(--container-color);
  }

  .contact__signup .contact__signup__leading {
    position: relative;
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
  }

  /* END: CONTACT FORM MOBILE MODE */


  /* START: TO MAKE RIGHT CONTENT DESCRIPTION MOBILE VERSION APPEAR */
  .content__right {
    display: none;
  }

  .content__description.mobile {
    display: block;
    margin-top: 0;
    text-align: right;
    top: -10%;
    right: 0;
    position: absolute;
  }

  .content__description .content__leading {
    font-size: var(--h2-font-size);
  }

  .content__about .content__title {
    font-size: var(--h4-font-size);
  }

  .content__about .content__info {
    inline-size: 320px;
    font-size: var(--h5-font-size);
  }

  .content__description .content__subtitle {
    font-size: var(--h2-font-size);
  }

  /* END: TO MAKE RIGHT CONTENT DESCRIPTION MOBILE VERSION APPEAR */
}

/*========== VIDEO PLAYER ==========*/
@-webkit-keyframes slidein {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.video__container {
  opacity: 0;
  z-index: -100;
}

.video__container.active {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  z-index: -100;
  -webkit-animation: slidein 1s ease 1s forwards;
  animation: slidein 1s ease 1s forwards;
}

.video__box {
  width: 100%;
}

/* MATERIAL INPUT BOX AND BTN */

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--text-color-light);
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -14px;
  font-size: 12px;
  color: var(--text-color-lighter);
}

input:focus~.bar:before,
textarea:focus~.bar:before {
  width: 100%;
  color: var(--text-color-lighter);
}

input[type=password] {
  letter-spacing: 0.3em;
}

label {
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--text-color-light);
  -webkit-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.material__btn {
  width: 180px;
  height: 64px;
  background-image: url('/assets/img/mesh-gradient.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: 0px 5px 40px var(--container-color);
          box-shadow: 0px 5px 40px var(--container-color);
  border: none;
}

.material__btn:hover {
  -webkit-box-shadow: 0px 0px 12px var(--text-color-light);
          box-shadow: 0px 0px 12px var(--text-color-light);
}